*{
    font-family: helvetica, monospace, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    margin: 0 auto;
    max-width: 600px;
}

.container div{
    margin: 20px;
}
h1.title{
    text-align: center;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: maroon;
}

.title{
    color: chocolate;
    margin-bottom: 10px;
}
strong{
    color: brown;
    font-size: 18px;
}
.header img{
    height: auto;
    width: 500px;
}

.header p{
    margin-top: 10px;
}
.recipe-list ul, .ingredient ul, .method ol{
    margin-left: 30px;
    margin-top: 15px;
}

.recipe-list ul li{
    padding: 3px;
}

.button button a{
    background-color: white;
    display: block;
    height: auto;
    width: 200px;
}